html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition-timing-function: cubic-bezier(0.6, -0.2, 0.735, 0.045);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --base-color: rgb(254 100 64);
  --base-color-active: rgb(207 77 47);
  --black-text: rgb(36 36 36);
  --gray-text: rgb(63 63 63);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black-text);
  background-color: rgb(7 44 84);
  transition: background-image 2s ease-in-out;
}

.app__container {
  display: grid;
  grid-template-rows: 200px auto;
  gap: 20px;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 580px;
  height: 100vh;
  transition: grid-template-rows 0.4s ease-in-out;
}

.app__container.app__container--top {
  grid-template-rows: 84px auto;
}

.app__container-top {
  align-self: end;
}

.location-form {
  position: relative;
}

.location-form__input {
  display: block;
  border: none;
  border-radius: 34px;
  padding: 10px 30px;
  padding-right: 65px;
  width: 100%;
  height: 64px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #fff;
  outline: none;
  transition: box-shadow 0.3s;
}

.location-form__input:focus {
  box-shadow: 0px 0px 0px 3px rgb(0 0 0 / 0.2);
}

.location-form__btn {
  position: absolute;
  top: 50%;
  right: 3px;
  border: 0;
  border-radius: 32px;
  padding: 0;
  width: 58px;
  height: 58px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%);
  will-change: opacity, visibility, background-color;
  transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
}

.location-form__btn:hover {
  background-color: var(--base-color);
}

.location-form__btn:active {
  background-color: var(--base-color-active);
}

.location-form__btn:focus {
  outline: none;
}

.location-form__icon {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}

.location-form__icon rect {
  transition: fill 0.3s;
}

.location-form__icon circle {
  transition: stroke 0.3s;
}

.location-form__btn:hover .location-form__icon rect {
  fill: #fff;
}

.location-form__btn:hover .location-form__icon circle {
  stroke: #fff;
}

.location-form__btn:active .location-form__icon rect {
  fill: #fff;
}

.location-form__btn:active .location-form__icon circle {
  stroke: #fff;
}

.location-form__input:valid + .location-form__btn {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
}

/* Карточки */
.card {
  border-radius: 28px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 0;
  height: 0;
  background-color: #fff;
  overflow: hidden;
  will-change: box-shadow, width, height, animation, background-color,
    backdrop-filter, color;
  transition: box-shadow 0.4s, width 0.4s, height 0.4s, animation 0.4s,
    background-color 0.4s, backdrop-filter 0.4s, color 0.4s;
  transform: scale(0);
}

.card__inner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s;
  transform: scale(0);
}

.card__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.card__head-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card__icon {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  background-image: url();
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  will-change: width, height, background-image;
  transition: width 0.4s, height 0.4s, background-image 0.4s;
}

.card__title {
  margin: 0;
  font-size: 28px;
  max-width: 280px;
  overflow: hidden;
  white-space: nowrap;
  will-change: transform;
  text-overflow: ellipsis;
  transform: translateY(-12px);
  transition: transform 0.4s;
}

.card__desc {
  position: absolute;
  display: block;
  opacity: 0.6;
  will-change: opacity;
  transform: translateY(-10px);
  transition: opacity 0.4s, visibility 0.2s;
}

.card-param {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-param-icon {
  flex-shrink: 0;
  width: 34px;
  height: 34px;
  transition: fill 0.4s;
}

.card-param-text {
  font-size: 28px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  overflow: hidden;
  /* opacity: 0; */
  will-change: opacity;
  transition: opacity 0.4s;
}

.card-param-icon--footer {
  width: 26px;
  height: 26px;
}

.card-param-text--footer {
  font-size: 24px;
}

/* Загрузка карточки */
.card.loading {
  width: 30px;
  height: 30px;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.3);
  }

  100% {
    transform: scale(1);
  }
}

.card.full {
  width: 100%;
  height: 170px;
  animation: none;
  transform: scale(1);
}

.card.full .card__inner {
  opacity: 1;
  transform: scale(1);
}

.card.full .card__footer {
  opacity: 0.6;
}

.card.glass {
  width: 100%;
  height: 80px;
  color: #fff;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}

.card.glass .card-param-icon {
  fill: #fff;
}

.card.glass .card__inner {
  opacity: 1;
  transform: scale(1);
}

.card.glass .card__title {
  transform: none;
}

.card.glass .card__desc {
  opacity: 0;
  visibility: hidden;
}

.card.glass .card__icon {
  width: 42px;
  height: 42px;
  filter: grayscale(1);
}

.card.glass:hover {
  height: 170px;
  background-color: rgba(33, 33, 33, 0.3);
}

.card.glass:hover .card__title {
  transform: translateY(-12px);
}

.card.glass:hover .card__icon {
  width: 80px;
  height: 80px;
}

.card.glass:hover .card__desc {
  opacity: 1;
  visibility: visible;
}

.card.glass:hover .card__icon {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .card.full {
    height: auto;
  }

  .card__head {
    display: block;
  }
}
